<!--The content below is only a placeholder and can be replaced.-->
<style>
  .container {
  position: relative;
  text-align: left;
  
  }
 
    img {
      border-radius: 50%;
    }
    .vl {
  border-left: 10px solid grey;
  height: 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}
#overlapped{
  margin-right: 90px;

}
.tablepadding{ 
  padding-left :-10px;

}

    </style>
    <body style="margin:auto;">
        <div class="container">  
            
<table width="1000px" style="margin: auto;" cellspacing="0">
    <div class="vl" >
  <tr>
    <!-- left column -->
    <td>
      <table cellspacing="0" style="background: #464343; color: white;">
        <tr>
          <td><img  src="..\assets\university.jpg"  width="150px" height="200px" style="border:4px solid deepskyblue; width:200px;"></td>
        </tr>
      
        <tr >
        
      
        <td><h4 style= "background-color: deepskyblue;margin-left: -10px; ">PERSONAL INFORMATION</h4></td>
        </tr>
        <tr>
          <td>
            <h4>Address</h4>
             <p>15812 extension 9 orange farm 1804</p>
            <h4>Contact</h4>
            <p> 0781465755 <br> sharonshaz449@gmail.com</p>
            <h4>Date of Birth</h4>
            <p>1988/01/10</p>
          </td>
        </tr>
        <tr>
          <td><h3 style= "background-color: deepskyblue;margin-left: -10px; " >LANGUAGES</h3></td>
        </tr>
        <tr>
            <td>  
                <h4>English</h4>
                   <p>Tsonga</p>
               <h4>Venda</h4>
                  <p> zulu </p>
              <h4>sotho</h4>
            </td>
          </tr>
          <tr>
              <td><h3 style= "background-color: deepskyblue;margin-left: -10px; " >Software </h3></td>
            </tr>
            <tr>
                <td><h4>Micro soft word</h4>
                <p>visiual studio</p>
                <h4>visual studio code</h4>
                <p> php </p>
                <h4>c#</h4>
                <h4>java</h4>
                </td>
              </tr>
              <tr>
                  <td><h3 style= "background-color: deepskyblue;margin-left: -10px; ">PERSONALITY</h3></td>
                </tr>
                <tr>
                    <td><h4>Eenegetic</h4>
                    <p>Attention to details</p>
                    <h4>Able to handle pressure</h4>
                    <p> Good team player </p>
                  
                    </td>
                  </tr>
      </table>
    </td>
    <!-- right coulmn -->
    <td>
      <table style="top:5px; " >
        <tr >
          <td height="50px ;" ><h1>Sharon Zwodangani Munyai</h1></td>
        </tr>
        <tr  >
            <td><h3 style= "background-color: deepskyblue; color:white;margin-left: -10px; " >OBJECTIVES</h3></td>
        </tr>
        <tr>
            <td><h4>A responsible developer with a desire to be employed in a field that best promotes my studies field.
                I am willing a nd eager to relocate closer to my company of employment.I am passionate,self Motivated individual with Oracle certified Associate Java SE 5 programmer certificates and national IT certificate qualification in software development, I am looking for junior permanent position as a developer.</h4></td>
        </tr>
        <tr>
              <td><h3 style= "background-color: deepskyblue;color:white; margin-left: -10px;">EDUCATIONS</h3></td>
             
        </tr>
        <tr>
            <td><h5>Grade 12</h5>
            <p>Kolokoshani sec school <br></p>
            <p>Grade 12 <br></p>
            
            <h5>2009-2011</h5>
              <p>Jeppe college for commerce and computer studies <br></p>
              <p>IT Diploma <br></p>
              </td>
           
        </tr>  
        <tr>
            <td><h3 style= "background-color: deepskyblue;color:white;margin-left: -10px;  ">EXPERIENCE</h3></td>
           
      </tr>
      <tr>
          <td><h4>Period:6 months</h4>
          <p>Intern Engineer <br></p>
          <p> Company:Dimension Data<br></p>

          <h4>Period:4 months</h4>
            <p>System Development Intern <br></p>
            <p> Dynamic DNA<br></p>

            <h4>Period:6 months</h4>
            <p>Web Developer Intern <br></p>
            <p> COJEDI<br></p>  
          
          
            </td>
            <tr>
                <td><h3 style= "background-color: deepskyblue;color:white; margin-left: -10px;" >SKILLS</h3></td>
               
          </tr>
          <tr>
              <td>
              <p>Knowledge in improving usability of websites <br></p>
              <p>  knowledge of web technologies HTML,CSS and JAVASCRIPT<br></p>
              <p>  knowledge of System development C#<br></p>
              <td>
            
         
      </tr> 
       <tr>
          <td><h3 style= "background-color: deepskyblue; color:white;margin-left: -10px; ">HOBBIES</h3></td>
         
    </tr>
    <tr>
        <td>
        <p><img src="/..\assets\shopping.jpg"alt="" style="width:30px;height:40px;">Shopping 
          <img src="/..\assets\social-network.jpg"alt="" style="width:30px;height:40px;">Travelling 
        <img src="/..\assets\networking.png"alt="" style="width:30px;height:40px;">Networking </p>
        
        <td>
        
   
</tr>  
      </table>
    </td>
  </tr>
  
    </div>
</table>
<footer valign="center" align="center" >
    <p>Declaration .I SHARON ZWODANGANI MUNYAI , declares that all the information  <br>mentioned  above is true and correct to the best of my knowledge.
 
        <a routerLink="/contact-me">Contact Me</a>
      
    </p>
    
  </footer>
  <h1></h1>
  

 <router-outlet>

 </router-outlet>

  </div>
</body>
    
   
       
                         
